{% extends 'index.html' %}
{% block contenido_interno %}
				<br/><h1>Cartelera</h1><br/>
				{% for peli in peliculas %}
				<div class="contenido-pelicula">
					<div class="datos-pelicula">
						<h2>{{ peli.Titulo }}</h2><br/>
						<p>{{ peli.Sinopsis }}</p>
						<br/>
                       	<div class="boton-pelicula">
							{% if peli.idEstado==1 %}
                       		<a href="{{ url_for('getPelicula', estado='cartelera', idPelicula=peli.id) }}" >
                       			<img src="{{ url_for('static', filename='img/varios/btn-mas-info.jpg') }}" width="120" height="30" alt="Ver info"/>
                       		</a>
							{% endif %}
							{% if peli.idEstado==2 %}
                       		<a href="{{ url_for('getPelicula', estado='estrenos', idPelicula=peli.id) }}" >
                       			<img src="{{ url_for('static', filename='img/varios/btn-mas-info.jpg') }}" width="120" height="30" alt="Ver info"/>
                       		</a>
							
							{% endif %}
               			</div>
               			<div class="boton-pelicula"> 
               				<a href="https://www.youtube.com/v/{{ peli.Link }}" target=_blank  onclick="return hs.htmlExpand(this, { objectType: 'iframe' } )" >
               					<img src="{{ url_for('static', filename='img/varios/btn-trailer.jpg') }}" width="120" height="30" alt="Ver trailer"/>
               				</a>
                        </div> 
					</div>
					<img src="{{ url_for('static', filename='img/pelicula/'+peli.id|string+'.jpg') }}" width="160" height="226"/><br/><br/>
				</div>
				{% endfor %}
{% endblock %}